@model IEnumerable<ConstructEd.ViewModels.CourseContentViewModel>

@{
    ViewData["Title"] = "Index";
}
@Html.AntiForgeryToken()

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Id"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Title"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Type"></label>
            </th>
            <th>
                <label asp-for="@Model.First().FileUrl"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Order"></label>
            </th>
            <th>
                Course Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>
                    <span>@item.Id</span>
                </td>
                <td>
                    <span>@item.Title</span>
                </td>
                <td>
                    <span>@item.Type</span>
                </td>
                <td>
                    <span>@item.FileUrl</span>
                </td>
                <td>
                    <span>@item.Order</span>
                </td>
                <td>
                    <span>@ViewBag.CourseNames[item.CourseId]</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <button type="button" class="btn btn-link text-danger delete-button" data-toggle="modal" data-target="#deleteModal" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


