@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Courses";
}

<!-- Courses Section -->
<section class="courses-section">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var course in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card course-card">
                        <div class="card-body">
                            <!-- Course Image -->
                            @if (!string.IsNullOrEmpty(course.Image))
                            {
                                <img src="/Image/@course.Image" class="card-img-top" alt="@course.Title" />
                            }

                            <!-- Course Title -->
                            <h5 class="card-title">@course.Title</h5>

                            <!-- Course Details -->
                            <p class="card-text courses-card-text">Category: @course.Category.ToString().Replace("_", " ")</p>
                            <p class="card-text courses-card-text">Duration: @course.Duration hrs</p>

                            <!-- View Details Button -->
                            <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="btn btn-main btn-block">
                                View Details
                            </a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/CourseIndexWishingListandShoppingCart.js"></script>
}